.main-content{
  color : rgb(194, 82, 82);
  font-size: 55px;
  text-align: center;
  margin-top: 20px;
}

/* Navbar */

.navbar{
  color: aquamarine;
}

/* UseState Hook CSS*/

.useState-headline{
  font-size: 35px;
  color:yellowgreen;
  text-align: center;
  margin-top: 30px;
}

.useState-button {
  background-color:coral;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.btn-container{
  margin: auto;
  text-align: center;
}

.qna{
  margin: 30px 150px;
}

.qna > h3 {
  color: violet;
}

.qna > p {
  color:antiquewhite
}

.newState-box{
  text-align: center;
  margin-top: 25px;
}

.list-box{
  display: inline;
  margin-right: 20px;
  font-size: 25px;
  color: aqua;
}

.list-box-input{
  font-size: 20px;
  margin-top: 15px;
}

.input-box{
  margin-left:10px;
}